{% extends "layout.jinja2"%}
{% block body %}
 <div class="row">
    <div class="col-md-8">
        <h1>About Me</h1><hr>
            <Section>
   
              <div class="row">
                  <div class="col-lg-12">
                      <img src="../static/marc.jpg"><br />
                      My name is Marc Fieser. I am born and raised in Washington state and I am a python developer.  After graduating highschool I joined the US Army and served for 9 years as Special Forces Green Beret.  After two tours in Afghanistand and another deployment to Guatemala, I returned home and received my Bachelors Degree from the University of Washington in Computer Science.  I have now embarked on the jorney of learning full stack development in Python via Code Fellows in Seattle!  
                  </div>
              </div><hr>
              <div class="row">
                <div class="col-md-6 col-lg-6">
                  <h2>Contact Me</h2>
                  <ul>
                    <a href="https://www.linkedin.com/in/marc-fieser" target="_blank"><li>LinkedIn</li></a>
                    <a href="https://github.com/midfies" target="_blank"><li>GitHub</li></a>
                    <a><li>Gmail</li></a>
                  </ul>
                </div>
              </div>
              <p class="lead"></p>
            </Sectuion>
            
    </div>

</div>
{% endblock %}