{% extends "layout.jinja2"%}
{% block body %}
 <div class="row">
    <div class="col-md-8">
        <h1>{{entry.title}}</h1><hr>

            <article>
              <span id="time" class="glyphicon glyphicon-time">{{entry.creation_date}}</span><br><br>
   
              <div class="row">
                  <div class="col-sm-6 col-md-6">
                      <span class="glyphicon glyphicon-folder-open"></span> &nbsp;<a href="{{ request.route_url('category', category=entry.category) }}">{{entry.category}}</a>
                      &nbsp;&nbsp;<span class="glyphicon glyphicon-bookmark"></span> 
                      {% set tag_list = entry.tags.split(' ') %}
                      {% for tag in tag_list %}
                        <a href="#">{{tag}}</a>
                      {%endfor%}
                  </div>
                   <div class="col-sm-6 col-md-6">
                      &nbsp;
                       <a href="https://twitter.com/share" class="twitter-share-button" data-text="{{ entry.title }}" data-show-count="false">Tweet</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                  </div>
              </div><hr>
              <img src="http://placehold.it/900x300" class="img-responsive"><br />
            
              <p class="lead">{{ entry.body }}</p>
              {% if request.authenticated_userid %}
              <p class="text-right">
                  <a href="{{ request.route_url('edit', id=entry.id) }}">
                      Edit
                  </a>
                  <span class="glyphicon glyphicon-edit"></span>
              </p>
              <p class="text-right">
                  <a class ='delete' href="#" data = {{entry.id}}>
                      Delete
                  </a>
                  <span class="glyphicon glyphicon-remove"></span>
              </p><hr>
              {% endif %}
            </article>
            
    </div>

</div>
{% endblock %}

{% block javascript %}
    <script type='text/javascript' src="{{ request.static_path('learning_journal:static/delete_post_detail.js')}}"></script>
{% endblock %}