{% extends "layout.jinja2"%}
{% block body %}
<div class="col-md-10">
    <form method="POST">
    <input type="hidden" name="csrf_token" value="{{ request.session.get_csrf_token() }}" />
      <div class="form-group">
        <label for="title">Title</label>
        <input name="title" type="text" class="form-control" id="title" value="{{entry.title}}">
      </div>
      <div class="form-group">
        <label for="category">Category</label>
        <input name="category" type="text" class="form-control" id="category" value="{{entry.category}}">
      </div>
      <div class="form-group">
        <label for="tags">Tags</label>
        <input name="tags" type="text" class="form-control" id="tags" value="{{entry.tags}}">
      </div>
      <div>
        <label for="body">Body</label>
        <textarea name="body" rows="20"class="form-control input-lg" id="body">{{entry.body}}</textarea>
      </div><br>
      <button type="submit" class="btn btn-default">Post</button>
    </form>
</div>
{% endblock %}