{% extends "layout.jinja2"%}
{% block body %}
 <div class="row">
    {% if request.authenticated_userid %}
      <form method="POST">
        <input type="hidden" name="csrf_token" value="{{ request.session.get_csrf_token() }}" />
      <div class="form-group">
        <label for="title">Title</label>
        <input name="title" type="text" placeholder="Title of Post..." class="form-control" id="title" required>
      </div>
      <div class="form-group">
        <label for="category">Category</label>
        <input name="category" type="text" placeholder="Category of Post..."class="form-control" id="category" required>
      </div>
      <div class="form-group">
        <label for="tags">Tags</label>
        <input name="tags" type="text" placeholder="Tags for Post..."class="form-control" id="tags">
      </div>
      <div>
        <label for="body">Body</label>
        <textarea name="body" rows="10" placeholder="Blog Post Goes Here..." class="form-control input-lg" id="body" required></textarea>
      </div><br>
      <button type="submit" class="btn btn-default" id='create'>Post</button>
    </form>
    {% endif %}
    <div class="col-md-8">

    </div>
    <div class="col-md-8">

        <h1> Most Recent Posts</h1><hr>
        {% if entries %}
            <div id='count' data-id='{{count}}'></div>
          {%for entry in entries%}
            <article>

              <h2><a href="{{ request.route_url('detail', id=entry.id) }}">{{ entry.title }}</a></h2>
              <span id="time" class="glyphicon glyphicon-time">{{entry.creation_date}}</span><br><br>
   
              <div class="row">
                  <div class="col-sm-6 col-md-6">
                      <span class="glyphicon glyphicon-folder-open"></span> &nbsp;<a href="{{ request.route_url('category', category=entry.category) }}">{{entry.category}}</a>
                      &nbsp;&nbsp;<span class="glyphicon glyphicon-bookmark"></span> 
                      {% set tag_list = entry.tags.split(' ') %}
                      {% for tag in tag_list %}
                        <a class="tagline" href="#">{{tag}}</a>
                      {%endfor%}
                  </div>
                  <div class="col-sm-6 col-md-6">
                      &nbsp;<span class="glyphicon glyphicon-pencil"></span> <a href="#">Comments</a>
                  </div>
              </div><hr>
              <img src="http://placehold.it/900x300" class="img-responsive"><br />

              <p class="lead">{{ entry.body | truncate(500) }}</p>
              <p class="text-right">
                  <a href="{{ request.route_url('detail', id=entry.id) }}">
                      Go to Post
                  </a>
                  <span class="glyphicon glyphicon-chevron-right"></span>
              </p>
               <p class="text-right">
                  <a class ='delete' href="#" data = {{entry.id}}>
                      Delete
                  </a>
                  <span class="glyphicon glyphicon-trash"></span>
              </p><hr><hr>
            </article>
          {%endfor%}
        {%endif%}
            
          <ul class="pager">
              <li class="previous"><a href="#">&larr; Previous</a></li>
              <li class="next"><a href="#">Next &rarr;</a></li>
          </ul>

    </div>
    <section class="col-md-4">
        <section class="well text-center">
            <p class="lead">Dont want to miss updates? Please click the below button!
            </p>
            <button class="btn btn-primary btn-lg">Subscribe to my feed</button>
        </section>

        <!-- Latest Posts -->
        <section class="panel panel-default">
            <div class="panel-heading">
                <h4>Recent Posts</h4>
            </div>
            <ul class="list-group">
            {% if entries %}
              {% set count = 5 %}
              {% if entries | length < 5%}
                {% set count = entries|length %}
              {%endif%}
            {% for i in range(count) %}
                <li class="list-group-item"><a href="{{ request.route_url('detail', id=entries[i].id) }}">{{i + 1}}.{{entries[i].title}}</a></li>
            {%endfor%}
            {%endif%}
            </ul>
        </section>

        <!-- Categories -->
        <section class="panel panel-default">
            <div class="panel-heading">
                <h4>Categories</h4>
            </div>
            <ul class="list-group">
                <li class="list-group-item"><a href="#">Category 1</a></li>
                <li class="list-group-item"><a href="#">Category 2</a></li>
                <li class="list-group-item"><a href="#">Category 3</a></li>
            </ul>
        </section>

        <!-- Tags -->
        <section class="panel panel-default">
            <div class="panel-heading">
                <h4>Tags</h4>
            </div>
            <div class="panel-body">
                <ul class="list-inline">
                    <li><a href="#">Example Tag 1</a></li>
                    <li><a href="#">Example Tag 2</a></li>
                    <li><a href="#">Example Tag 3</a></li>
                </ul>
            </div>
        </section>
    </section>
</div>
{% endblock %}

{% block javascript %}
    <script type='text/javascript' src="{{ request.static_path('learning_journal:static/delete_post.js')}}"></script>
    <script type='text/javascript' src="{{ request.static_path('learning_journal:static/create_post.js')}}"></script>
{% endblock %}